<main>
    <div class="details-container">
        <div class="details-container-image">
            <img
                src="https://wpvip.edutopia.org/wp-content/uploads/2022/10/johnson-169hero-effectivelearn-shutterstock_1.jpg?w=2880&quality=85">
        </div>
        <div class="details-container-info">
            <h2>Title: {{courseData.title}}</h2>
            <h3>Type: {{courseData.type}}</h3>
            <h3>Certificate: {{courseData.certificate}}</h3>
            <h3>Price: €{{courseData.price}}</h3>
            <h3>By: {{ownerData.email}}</h3>
            <!--If there are sign up users-->
            {{#if listOfStudents}}
            <h4>Signed By: {{listOfStudents}}</h4>
            <!--If there are no sign up users-->
            {{else}}
            <h4>Nobody has signed in for this course yet</h4>
            {{/if}}
        </div>
        <div class="details-container-content">
            <p>{{courseData.description}}</p>
        </div>
        <div class="btn-container">
            <!-- Only for registered user and creator of the course-->
            {{#if isOwner}}
            <a href="#">Edit</a>
            <a href="#">Delete</a>
            {{else}}
            {{#unless isSignedUp}}
            <!-- logged in user who has not yet sign up for the course-->
            {{#if isLoggedIn}}
            <a href="/courses/{{courseData._id}}/sign-up">Sign up</a>
            {{/if}}
            <!-- logged in user who has already sign up for the course-->
            {{else}}
            <p class="sign-up">You've already signed up for this course!</p>
            {{/unless}}
            {{/if}}
        </div>
    </div>
</main>